:root {
    --menu-height: calc(4 * var(--padding-normal));
    --menu-border-width: var(--border-thickness);
    --menu-chevron-factor: 3;
    --menu-chevron-gap: calc(4 * var(--menu-border-width));
    --hamburger-bar-height: 3.5px;
    --hamburger-bar-spacing: 5px;
    --hamburger-bar-width-ratio: calc(2/3);
}

.navbar {
  display: flex;
  font-size: 1.25em;
  font-family: sans-serif;
  color: var(--color-text-lighter);
  margin-bottom: var(--padding-normal);
}

.menu_button {
  width: var(--menu-height);
  min-width: var(--menu-height);
  height: var(--menu-height);
  position: relative;
  border: var(--menu-border-width) solid var(--color-primary-darker);
  /* background-color: var(--color-primary); */
}

.menu_button:hover {
  background-color: var(--color-primary-complement);
  cursor: pointer;
  border-color: var(--color-primary-darker-complement);
}


.breadcrumbs--wrapper {
  max-width: calc(100vw - var(--menu-height) - 2 * var(--menu-border-width));
  overflow-x: scroll;
  overflow-y: hidden;
  height: calc(var(--menu-height) + 2 * var(--menu-border-width));
  max-height: calc(var(--menu-height) + 2 * var(--menu-border-width));
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.breadcrumbs--wrapper::-webkit-scrollbar,
.breadcrumbs--wrapper::-webkit-scrollbar-button {
  display: none;
}

.breadcrumbs {
  flex-grow: 1;
  display: flex;
  width: calc(100vw - var(--menu-height) - 2 * var(--menu-border-width));
  min-width: 600px;
  height: calc(var(--menu-height) + 2 * var(--menu-border-width));
  max-height: calc(var(--menu-height) + 2 * var(--menu-border-width));
}

.breadcrumb {
  /* background-color: var(--color-primary); */
  height: calc(var(--menu-height) - (var(--padding-normal) * 2));
  line-height: calc(var(--menu-height) - (var(--padding-normal) * 2));
  padding: var(--padding-normal);
  border-bottom: var(--menu-border-width) solid var(--color-primary-darker);
  border-top: var(--menu-border-width) solid var(--color-primary-darker);
  position: relative;
}

.breadcrumb--clickable:hover,
.breadcrumb--clickable:not(:last-child):hover:after
{
  background-color: var(--color-primary-complement);
  cursor: pointer;
  border-color: var(--color-primary-darker-complement);
}

.breadcrumb:not(:first-child) {
  --start_x: calc(-1 * var(--menu-border-width) + 1px);
  --end_x: calc(var(--menu-height) / var(--menu-chevron-factor) - calc(2 * var(--menu-border-width)) + 0.5px);
  clip-path: polygon(var(--start_x) 0, 200% 0, 200% 100%, var(--start_x) 100%, var(--end_x) 50%);
  margin-left: var(--menu-chevron-gap);
  padding-left: calc(2*var(--padding-normal));
}

.breadcrumb--chevron-svg-aft,
.breadcrumb--chevron-svg-forward {
  width: calc((var(--menu-height) / var(--menu-chevron-factor)));
  height: calc(10px + var(--menu-height));
  position: absolute;
  top: calc(-2 * var(--menu-border-width) - 1px);
  right: calc(-1 * calc(var(--menu-height) / var(--menu-chevron-factor)) + 1px);
  fill: transparent;
  stroke: var(--color-primary-darker);
  stroke-width: calc(var(--menu-border-width));
  stroke-linejoin: miter;
}

.breadcrumb--clickable:hover .breadcrumb--chevron-svg-aft,
.breadcrumb--clickable:hover .breadcrumb--chevron-svg-forward {
  fill: var(--color-primary-complement);
  stroke: var(--color-primary-darker-complement);
}

.breadcrumb--chevron-svg-aft {
  left: calc(-3px + var(--menu-border-width));
  fill: none;
}

.breadcrumb:hover .breadcrumb--dots {
  visibility: visible;
}

.breadcrumb:last-child {
  flex-grow: 1;
}

.breadcrumb--dots {
  --dots_width: 1em;
  display: flex;
  width: var(--dots_width);
  height: 10px;
  visibility: hidden;
  position: absolute;
  left: calc(50% - var(--dots_width) / 2);
  bottom: -1px;
}

.breadcrumb--dots-dot {
  stroke: var(--color-primary-darker-complement);
  stroke-width: calc(1 * var(--hamburger-bar-height));
}

.menu_button--burger-icon {
  left: calc(0.125 * var(--menu-height) + var(--menu-border-width) / 2);
  left: calc(50% * (1 - var(--hamburger-bar-width-ratio)));
}

.menu_button--burger-icon,
.menu_button--burger-icon:before,
.menu_button--burger-icon:after {
  position: absolute;
  top: calc(50% - (var(--hamburger-bar-height) / 2));
  bottom: 0;
  width: calc(var(--hamburger-bar-width-ratio) * var(--menu-height));
  height: var(--hamburger-bar-height);
  height: 0;
  background-color: var(--color-text-lighter);
  border: calc(var(--hamburger-bar-height) / 2) solid var(--color-text-lighter);
  border-radius: 1px;
  box-sizing: border-box;
}

.menu_button--burger-icon:before,
.menu_button--burger-icon:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(-1 * var(--hamburger-bar-spacing) - var(--hamburger-bar-height));
  left: calc(-1 * var(--hamburger-bar-height) / 2);
}

.menu_button--burger-icon:after {
  top: var(--hamburger-bar-spacing);
}
