:root {
    --color-primary: #D6DAF0;
    --color-primary-complement: #F0ECD6;
    --color-primary-darker: #B7C5D9;
    --color-primary-darker-complement: #D9CBB7;
}

.modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
