:root {
    --color-primary: #D6DAF0;
    --color-primary-complement: #F0ECD6;
    --color-primary-darker: #B7C5D9;
    --color-primary-darker-complement: #D9CBB7;
    --color-background: #EEF2FF;
    --color-text: #1F1F1F;

    --padding-normal: .5em;
    --border-thickness: 2px;
    --border-radius: 2px;

    --text-size-large: 1.75em;
    --text-size-big: 1.5em;
    --text-size-smaller: 0.95em;
    --heading-font-family: tahoma;
}

.modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-dialog__outermost {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.modal-dialog__window {
    background-color: var(--color-background);
    color: var(--color-text);
    border-radius: var(--border-radius);
    padding: 0;
    margin: 0;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
    max-width: 90vw;
}

.modal-dialog__title {
    font-size: var(--text-size-big);
    font-family: var(--heading-font-family);
    padding: 0;
    margin: 0;
}

.modal-dialog__window-header {
    padding: calc(2 * var(--padding-normal));
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
}

.modal-dialog__X {
    font-size: var(--text-size-large);
    font-weight: normal;
    cursor: pointer;
    user-select: none;
    margin-left: calc(2 * var(--padding-normal));
    opacity: 50%;
}

.modal-dialog__X:hover {
    opacity: 100%;
}

.modal-dialog__X span {
    vertical-align: top;
}

.modal-dialog__button-container {
    display: flex;
    justify-content: flex-end;
    gap: var(--padding-normal);
    margin: calc(var(--padding-normal));
}

.modal-dialog__button {
    padding: 0.5em 1em;
    font-size: 1em;
    font-family: inherit;
    border: var(--border-thickness) solid var(--color-background);
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.2s, border-color 0.2s;
}

.modal-dialog__button--submit {
    background-color: var(--color-primary);
    border: var(--border-thickness) solid var(--color-primary);
    transition: none;
}

.modal-dialog__button:hover {
    border: var(--border-thickness) solid var(--color-primary);
}

.modal-dialog__button--submit:hover {
    background-color: var(--color-primary-complement);
    border: var(--border-thickness) solid var(--color-primary-complement);
}

.modal-dialog__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(60%) saturate(30%);
    -webkit-backdrop-filter: brightness(60%) saturate(30%); /* Safari support */
}

.modal-dialog__content {
    margin: var(--padding-normal);
    padding: var(--padding-normal);
    line-height: 1.4;
}

.warning-message {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: var(--padding-normal);
    padding: calc(2 * var(--padding-normal));
    background-color: var(--color-primary-complement);
    border-radius: calc(2 * var(--border-radius));
    border: var(--border-thickness) dashed var(--color-primary-complement);
    font-size: var(--text-size-smaller);
    color: var(--color-text);
    /* border: var(--border-thickness) solid var(--color-primary-darker-complement); */
    transition: border-color 0.2s ease-in-out;
}

.warning-message:hover {
    border-color: var(--color-primary-darker-complement);
}

.warning-message p {
    margin: 0;
}

.warning-icon {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    position: relative;
    font-size: var(--text-size-large);
    color: var(--color-primary-darker-complement);
    line-height: 1em;
    text-align: center;
}

.warning-message__strong-word {
    background-color: var(--color-primary-darker-complement);
}

.modal-dialog__post-preview {
    max-height: calc(80vh - 10em);
    overflow: scroll;
    margin: var(--padding-normal) 0;
    margin-bottom: 0;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}
